@model ResetPasswordViewModel

@using (Html.BeginForm()) 
{
    <dl>
        <dt>
            @Html.LabelFor(m => m.Email)
        </dt>
        <dd>
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </dd>
    
        <dd>
    		<button type="submit">Request Password Reset</button>
    	</dd>
    </dl>
}