@model PasswordResetRequestEmail

<p>
    A password reset request has been issued for <strong>@Model.To</strong>.
</p>

<p>
    If you did not request this password reset, please ignore this email.
</p>

<p>
    To reset your password, please visit <a href="@Model.PasswordResetUrl">@Model.PasswordResetUrl</a>
</p>