@model PasswordResetEmail

<p>
    Password reset for <strong>@Model.To</strong>.
</p>

<p>
    Visit @Model.LoginUrl and login using the following:
</p>

<dl>
    <dt>Email</dt>
    <dd>@Model.From</dd>

    <dt>Password</dt>
    <dd>@Model.Password</dd>
</dl>